body{
    background-color: rgb(246, 241, 241);
}
p{
    text-align: center;
}
h1{
    text-align:center;
    font-size: 30pt;
    height: 100px;
    line-height: 100px;
    background-color: aquamarine;
}
h4{
    text-align: center;
    font-size: 17pt;
}
.prof{
    line-height: 60%;
}
.skl{
    line-height: 60%;
}
.lang{
    font-size: 12pt;
    line-height: 60%;
}
.soft{
    font-size: 12pt;
    text-align: center;
    line-height: 60%;
}
img{
  height: 80px;
}
